head{
    font-family: "Raleway", sans-serif
}


img {
    display: block;
}

:root{
    --title-color: #2E2F42;
    --back-but: #4D5AE5;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-div{
    display: flex;
}

.link {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    margin-right: 76px;
    letter-spacing: 0.03em;

}

.header-menu-span {
    color: var(--title-color);
}

.header-menu-item{
    display: flex;
    gap: 40px;
}

.title-blue{
    color:var(
        --title-color
    );


}

.list{
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    gap: 40px
}

ul{
    list-style: none;
}


.header-menu-link{

    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--title-color);

}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404bbf;
}
.header-contact-link:hover, .header-contact-link:focus {
    color: #404bbf;

}

.header-adddres {
    font-style: normal;
}




.header-contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;


}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
   
}

.hero-buton{
    font-family: "Roboto", sans-serif;
    background-color: var(--back-but);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-buton:hover, .hero-buton:focus {
    background-color: #404BBF
}


.section-two{
    padding: 120px 0;

}


.section-two-ul{
    display: flex;
    gap: 24px;

}

.section-two-list{
    width: calc((100%-72px)/4);
}

.section-three{
    padding-bottom: 120px;

}

.main-secondtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color:var(--title-color);
    line-height: 1.2;
    margin-bottom: 8px;

}
.main-second-content {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#434455;
    line-height: 1.5;
 }
.section-title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--title-color);
    line-height: 1.11;
    margin-bottom: 72px;


}
 

.section-ul{
    display: flex;
    gap: 24px;
}

.section-list{
    width: calc((100% - 48px) / 3);
}


.section-four-title{
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--title-color);
    line-height: 1.11;
}


.section-four {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.section-four-ul{
    display: flex;
    gap: 24px;
}


.section-four-secondtitle{
    font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: var(--title-color);
    line-height: 1.2;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
    text-align: center;
}

.section-four-text {
         font-size: 16px;
        letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    text-align: center;


}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
     color: #F4F4FD;
     line-height: 1.5;
    max-width: 264px;
}

.perfomer-title{
    font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
        color: var(--title-color);
}

.li-section {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.portfolio-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;

}

.im-sec-for{
    border-radius: 0px 0px 4px 4px;

}

.main-portfolio-but {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 1.5;
        color: #4d5ae5;
        background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

}


.second-ul-port{
    width: calc((100% - 48px) / 3);

}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.port-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;


}

.port-ul-sec{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.four-div{
    padding: 32px 16px;
}



.main-portfolio-but:hover, .main-portfolio-but:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;

}

.footer {
    background-color:var(--title-color);
    padding: 100px 0;

}

.title-black{
    color: #F4F4FD;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    margin-right: 76px;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;

}

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.main-portfolio-button{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;


}